<settings>
    <setting propertyKey="@Properties.targetDistance" title="@Strings.TargetDistanceTitle">
        <settingConfig type="numeric" required="true" min="1" errorMessage="@Strings.TargetDistanceError" />
    </setting>

    <group id="groupTime" title="@Strings.TargetTimeTitle" description="@Strings.TargetTimeDescription">
        <setting propertyKey="@Properties.targetMinutes" title="@Strings.targetMinutesTitle">
            <settingConfig type="numeric" required="true" min="1" errorMessage="@Strings.TargetMinutesError" />
        </setting>

        <setting propertyKey="@Properties.targetSeconds" title="@Strings.targetSecondsTitle">
            <settingConfig type="numeric" required="true" min="0" max="59" errorMessage="@Strings.TargetSecondsError" />
        </setting>
    </group>

    <setting propertyKey="@Properties.displayOption" title="@Strings.DisplayOptionsTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DisplayOption0</listEntry>
            <listEntry value="1">@Strings.DisplayOption1</listEntry>
            <listEntry value="2">@Strings.DisplayOption2</listEntry>
            <listEntry value="3">@Strings.DisplayOption3</listEntry>
        </settingConfig>
    </setting>
</settings>